@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutSignUp.cshtml";
}

@using HotelMangamentWeb.Models.ViewModels
@model TaiKhoanDangKyView

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section"><strong>SignUp</strong></h2>
            </div>
        </div>
        <form action="" method="post">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form action="#" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="TenTaiKhoan" placeholder="Username" required value="@Model.TenTaiKhoan">
                                @Html.ValidationMessageFor(m => m.TenTaiKhoan)
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="MatKhau" placeholder="Enter Password" required value="@Model.MatKhau">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                @Html.ValidationMessageFor(m => m.MatKhau)
                            </div>

                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="XacNhanMatKhau" placeholder="Enter Password again" value="@Model.XacNhanMatKhau">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                @Html.ValidationMessageFor(m => m.XacNhanMatKhau)
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="HoTen" placeholder="Enter your full name" required value="@Model.HoTen">
                                @Html.ValidationMessageFor(m => m.HoTen)
                            </div>

                            <div class="form-group">
                                <input type="tel" class="form-control" name="SoDienThoai" placeholder="Your Phone Number" required value="@Model.SoDienThoai">
                                @Html.ValidationMessageFor(m => m.TenTaiKhoan)
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" placeholder="Email" required value="@Model.Email">
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                            </div>
                            <h5><span style="color:#777777">Already have an account?&nbsp;&nbsp;<a href="/CaNhan/DangNhap/">Log In</a></span></h5>

                        </form>
                    </div>
                </div>
            </div>
            </form>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
    }
