@model IEnumerable<HotelMangamentWeb.Models.DatPhong>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.MatKhau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DichVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.MatKhau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDatPhong }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDatPhong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDatPhong })
        </td>
    </tr>
}

</table>
